/* wrapper */
.moving-wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
  padding: 10px 0;
}

/* track */
.moving-track {
  display: flex;
  gap: 25px;
  width: max-content;
  animation: scrollLeft 12s linear infinite;
}

/* card styling */
.moving-card {
  min-width: 280px;
  border-radius: 14px;
  background: #ffffff;
  transition: transform 0.3s ease;
}

/* hover effect */
.moving-card:hover {
  transform: translateY(-5px);
}

/* smooth infinite scroll */
@keyframes scrollLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}



/* LEFT ABOUT CARD */
.about-left-card {
  background: linear-gradient(135deg, #f8fafc, #eef4ff);
  padding: 35px;
  border-radius: 20px;
  border: 1px solid #e5e7eb;

  animation: slideLeft 1s ease;

  transition: all 0.4s ease;
}

.about-left-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 35px rgba(37, 99, 235, 0.12);
}

/* RIGHT CARD */
.about-right-card {
  background: linear-gradient(135deg, #eff6ff, #e0e7ff);
  padding: 35px;
  border-radius: 20px;
  border: 1px solid #dbeafe;

  height: 100%;

  animation: slideRight 1s ease;

  transition: all 0.4s ease;
}

.about-right-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 35px rgba(124, 58, 237, 0.12);
}

/* ANIMATIONS */

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-60px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(60px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}