.chart-wrapper {
    display: flex;
    width: 100%;
    height: 320px;
    gap: 50px;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease;
    
}

/* fade + slide in */
.chart-wrapper.show {
    opacity: 1;
    transform: translateY(0);
}

/* LEFT SIDE */
.left-card {
    width: 30%;
    background: linear-gradient(135deg, #f8f9fa, #ffffff);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    transition: 0.3s ease;
  margin-left: 40px;
}

.left-card:hover {
    transform: scale(1.03);
    box-shadow: 0 12px 25px rgba(0,0,0,0.12);
}

.left-card h2 {
    margin-bottom: 10px;
}

.stats {
    margin-top: 20px;
    padding: 10px;
    background: #fff;
    border-radius: 8px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.05);
}

/* RIGHT SIDE */
.right-chart {
    width: 60%;
    background: #fff;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);

    /* chart animation */
    animation: chartPop 1s ease;
}

@keyframes chartPop {
    from {
        transform: scale(0.95);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* loading text */
.loading {
    font-size: 18px;
    padding: 20px;
}